.container{
height: 700px;
width: 100%;
background-image: url('cover.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
position: relative;

}


.cover{
position: absolute;
height: 700px;
width: 100%;
background-color: rgba(61, 61, 41, 0.7);

}


h1,p{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

.text{

    margin-top: 200px;
}



button{
background-color: transparent;
border-radius: 30px;
color: white;
border: solid  0.5px white;
text-align: center;
height: 40px;
width: 200px;
margin-top: 50px;
position: absolute;
left: 44%;

    
}




